
 <ion-fab vertical="bottom" horizontal="end" >
    <ion-fab-button routerLink="/page-newgasto" >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<ion-content class="home-content">

  <div class="home-container">

    <!-- TARJETA TOTAL DEL MES -->
   <section class="total-card">
      <div>
        <p>Total de la semana</p>
        <h1>${{ totalSemana | number:'1.2-2' }}</h1>

        <span class="badge">
          Gastos acumulados
        </span>
      </div>

      <ion-icon name="trending-up-outline"></ion-icon>
  </section>

    <!-- TARJETAS PEQUEÑAS -->
    <section class="summary-cards">
      <ion-grid class="ion-no-padding summary-grid-container">
        <ion-row>

          <ion-col size="4">
            <ion-card class="summary-card">
              <div class="icon-box blue">
                <ion-icon name="calendar-outline"></ion-icon>
              </div>
              <ion-card-subtitle>Hoy</ion-card-subtitle>
              <ion-card-title>${{ totalDia | number:'1.2-2' }}</ion-card-title>
            </ion-card>
          </ion-col>

          <ion-col size="4">
            <ion-card class="summary-card">
              <div class="icon-box green">
                <ion-icon name="receipt-outline"></ion-icon>
              </div>
              <ion-card-subtitle>Gastos</ion-card-subtitle>
              <ion-card-title>{{ cantidadGastosDia }}</ion-card-title>
            </ion-card>
          </ion-col>

          <ion-col size="4">
            <ion-card class="summary-card">
              <div class="icon-box" 
                  [ngClass]="topCategorias[0] ? categoriaUI.obtenerCategoriaInfo(topCategorias[0].nombre).color : 'gray'">
                <ion-icon 
                  [name]="topCategorias[0] ? categoriaUI.obtenerCategoriaInfo(topCategorias[0].nombre).icono : 'pie-chart-outline'">
                </ion-icon>
              </div>
              <ion-card-subtitle>Top</ion-card-subtitle>
              <ion-card-title>{{ topCategorias[0]?.nombre || '-' }}</ion-card-title>
            </ion-card>
          </ion-col>

        </ion-row>
      </ion-grid>
    </section>
    

    <!-- ESCANEAR TICKET -->
    <section class="scan-card" routerLink="/page-scan">
      <div class="scan-icon">
        <ion-icon name="scan-outline"></ion-icon>
      </div>

      <div class="scan-info">
        
        <h2>Escanear ticket</h2>
        <p>Añade gastos automáticamente</p>
      </div>

      <ion-icon class="arrow" name="chevron-forward-outline"></ion-icon>
    </section>

  <section class="expenses-list">

  <div class="section-header">

    <h2>Gastos recientes</h2>

    <a routerLink="/page-gastos">
      Ver más
    </a>

  </div>

  <ion-list lines="none">

    @for (
      gasto of gastosRecientes();
      track gasto.id_gasto
    ) {

      <ion-item
        class="expense-card"
        mode="ios">

        <ion-avatar

          slot="start"

          class="expense-icon"

          [ngClass]="
            categoriaUI
            .obtenerCategoriaInfo(
              gasto.categorias
              .nombre_categoria
            ).color
          ">

          <ion-icon

            [name]="
              categoriaUI
              .obtenerCategoriaInfo(
                gasto.categorias
                .nombre_categoria
              ).icono
            ">

          </ion-icon>

        </ion-avatar>

        <ion-label>

          <h3>
            {{ gasto.concepto }}
          </h3>

          <p>
            {{ gasto.fecha_gasto }}
          </p>

        </ion-label>

        <span slot="end">

          -${{ gasto.monto }}

        </span>

      </ion-item>

    }

  </ion-list>

</section>

    <!-- MENSAJE DECORATIVO -->
    <section class="saving-message">
      <div class="circle">
        <ion-icon name="wallet-outline"></ion-icon>
      </div>

      <p>
        Tu camino hacia la libertad financiera empieza con un pequeño paso.
      </p>
    </section>

   

  </div>

</ion-content>